input[type=checkbox]
{
  
  -ms-transform: scale(1.7); 
  -moz-transform: scale(1.7); 
  -webkit-transform: scale(1.7); 
  -o-transform: scale(1.7); 
  transform: scale(1.7);
  padding: 10px;
  margin-right:5px;
}
input[type=text]
{
  
  color:black;
  font-size: 20px;
}

body
{
    background-color:whitesmoke;
}
